@import url("//fonts.googleapis.com/css?family=Ubuntu:700,400");

body{
    margin:10% auto 0;
    width:400px;
    font-family:Ubuntu;
    font-size:14px;
    line-height:1.5;
}

code{
    color:#666;
    font-style:italic;
}

div{
    min-height:100px;
    min-width:400px;
    max-width:500px;
    padding:25px;
    border:1px solid #666;
    background:#EFEFEF;
}

div p, div img{
    float:left;
}

div p{
    width:250px;
    overflow:hidden;
}

.cf-error-details p {
    width:auto;
    min-width:250px;
    max-width:500px;
    overflow:hidden;

}

div ul{
    clear:both;
}

div h1{
    border-bottom:1px solid #666;
    padding:0px;
    margin:0px;
}

div img{
    width:100px;
    padding-right:25px;
}
