@font-face{
	font-family:UbuntuR;
	src:url("//fonts.googleapis.com/css?family=Ubuntu");
}
body{
	margin:10% auto 0;
	width:400px;
	font-family:UbuntuR;
	font-size:14px;
	line-height:1.5;
}
code{
	color:#666;
	font-style:italic;
}
div{
	height:100px;
	width:400px;
	padding:25px;
	border:1px solid #666;
	background:#EFEFEF;
}
div p, div img{
	float:left;
}
div p{
	width:250px;
	overflow:hidden;
}
div h1{
	border-bottom:1px solid #666;
	padding:0px;
	margin:0px;
}
div img{
	width:100px;
	padding-right:25px;
}
