---
bg_image: "https://i.imgur.com/GKhMbEQ.png"
---
@charset "UTF-8";
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:700,400");
@import url("{{ site.cdn }}css/colors.css?v={{site.time | date: '%Y%m%d%H%S'}}");
@import url("{{ site.cdn }}css/theme.css?v={{site.time | date: '%Y%m%d%H%S'}}");
@import url("{{ site.cdn }}css/header.css?v={{site.time | date: '%Y%m%d%H%S'}}");
@import url("{{ site.cdn }}css/footer.css?v={{site.time | date: '%Y%m%d%H%S'}}");

body {
    font-family: Ubuntu;
    font-size: 14px;
    background: #307DBF;
    line-height: 1.5;
    min-width: 320px;
}

#searching-wrapper {
    margin-bottom: 20px;
}

.panel, .breadcrumb {
    box-shadow: 0 0 10px #ddd;
}

.breadcrumb {
    margin: 20px 0 !important;
}

.section {
    margin-top: 61px;
    background: #eee;
    min-height: 750px;
    overflow: hidden;
}

#content {
    z-index: -1;
    padding: 2% 10%;
    overflow: auto;
    word-wrap: normal;
}

#content a {
   color: #666;
}

#content a:hover {
    color: #000;
    border-bottom: 1px dashed #999;
}

#content a[data-img]:hover {
    border-bottom: 0 !important;
}

.count {
    transition: all .5s;
}

@-webkit-keyframes subHeader {
    from {
        background: url("{{ page.bg_image }}") bottom;
        background-size: cover;
    }
    to {
        background: url("{{ page.bg_image }}") top;
        background-size: cover;
    }
}

.sub_header {
    position: relative;
    min-height: 200px;
    background: #666 url("{{ page.bg_image }}") bottom;
    background-size: cover;
    z-index: 4;
    width: 100%;

    -webkit-animation: subHeader 60s linear 2s infinite alternate;
}

.sub_header .sub_header_content {
    min-height: 150px;
    line-height: 150px;
    z-index: 5;
}

.sub_header .sub_header_bottom {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: rgba(0,0,0, 0.5);
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    z-index: 50;
    overflow: hidden;
}

.login {
    display: inline-block;
    padding: 8% 50px;
}

.login form {
    display: inline-block;
    max-width: 250px;
}

.img-dropshadow img {
    padding: 0;
    margin: 10px;
    box-shadow: 1px 1px 5px #999;
}

.game-pane {
    min-height: 300px;
}

.game-pane .panel-body {
    padding: 0;
}

.game-content, .game-pane p {
    margin: 10px;
}

.game-pane p {
    padding-top: 0px;
    text-indent: 0px;
    text-align: left;
    min-height: 150px;
}

.game-pane img {
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.8) url(https://unsplash.it/g/300/100/?random);
}

.game-pane p:first-letter {
    font-size: 28px;
    padding-right: 2px;
}

.home-info {
    margin: 10px;
}

.home-info a {
    color: #333 !important;
}

.home-info a:hover {
    color: #2e6da4 !important;
}

.home-info h1 {
    font-size: 96px;
}

.home-info div {
    font-size: 36px;
}

@media screen and (max-width: 768px) {
    #content {
        padding: 2% 5% !important;
    }
}
